@import "common";
@import "home";

#category-feature{
  .elementor-widget-text-editor{
    p{
      -webkit-text-stroke: 2px var( --e-global-color-1bfa480 ); 
      text-stroke: 2px var( --e-global-color-1bfa480 ); 
      margin: 0;
    }
  }
}